.footer {
    box-shadow: 0 -10px 35px 12px rgba(27, 6, 6, 0.185);
    margin-top: auto;
}

.footer__inner {
    font-size: 14px;
    padding-top: 15px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 25px;
}

.footer__about-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer__about-logo img {
    width: 40px;
    display: block;
}

.footer__about-logo span {
    font-weight: 700;
    font-size: 28px;
}

.footer__about-text {
    margin-bottom: 20px;
}

.footer__about-icons {
    display: flex;
    gap: 30px;
}

.footer__about-link img {
    width: 30px;
    display: block;
}

.footer__top-col {
    padding: 0 15px;
}

.footer__col-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-style: 18px;
}

.footer__col-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__list-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__list-item img {
    width: 20px;
    display: block;
}

.footer__subscription-text {
    margin-bottom: 20px;
}

.footer__subscription-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 30px;
}

.footer__bottom {
    text-align: center;
}

@media (max-width: 1400px) {
    .footer__top {
        gap: 12px;
    }
}

@media (max-width: 1000px) {
    .footer__top {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer__top-about {
        max-width: 300px;
    }
    .footer__top > * {
        margin-bottom: 15px;
    }
    .footer__col-title {
        margin-bottom: 7px;
    }
    .footer__col-list {
        gap: 5px;
    }
}

@media (max-width: 820px) {
    .footer__top {
        justify-content: center;
        gap: 18px;
        text-align: center;
    }
    .footer__top > * {
        margin-bottom: 0;
    }
    .footer__list-item {
        justify-content: center;
    }
    .footer__list-item img {
        display: none;
    }
    .footer__top-about {
        text-align: center;
    }
    .footer__about-logo {
        justify-content: center;
        margin-bottom: 8px;
    }
    .footer__about-text {
        margin-bottom: 7px;
    }
    .footer__about-icons {
        justify-content: center;
    }
}